$draw-canvas-width: 600px;
$draw-canvas-height: 400px;
$sidebar-width: 200px;
$header-height: 70px;
$controls-height: 90px;
$help-height: 70px;
$toolbar-height: 100px;
$chat-input-height: 90px;

body {
  background: #efefef;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.load-error {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;

  h1 {
    margin: 0 0 30px 0;
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 17px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background-color: #3FBFBB;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: $sidebar-width;
  height: $header-height;
  padding: 10px;
  background: #ddd;
  border-right: 1px solid #ccc;
  font-size: 150%;
}

#away-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  height: $controls-height;
  margin: 0;
  padding: 30px 15px 15px 15px;
  border-right: 1px solid #ccc;

  input {
    float: left;
    margin: 2px 5px 20px 0;
  }

  label {
    font-weight: normal;
    font-size: 95%;
  }
}

#users {
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: $controls-height;
  width: $sidebar-width;
  margin: 0;
  padding: 20px 20px 20px 35px;
  overflow: auto;
  border-right: 1px solid #ccc;
  background: #ededed;
  list-style: none;

  li {
    list-style-image: url(/static/img/user_icon.png);
    margin: 0;
    padding: 0;

    .artist-indicator {
      margin-left: 5px;
      padding: 2px;
      background: #F37865;
      color: #fff;
      border-radius: 3px;
      font-size: 95%;
      display: none;
    }

    &.drawing .artist-indicator {
      display: inline;
    }

    &.guessed {
      font-weight: bold;
    }

    &.away {
      color: #999;
      font-style: italic;
    }

    .badge {
      float: right;
    }
  }
}

#help {
  background: #FDF0C9;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  width: $draw-canvas-width;
  height: $help-height;
  padding: 10px;

  .pie-progress {
    float: right;
    margin-left: 10px;
  }

  .phrase {
    display: block;
    font-size: 160%;
  }

  .phrase-small {
    display: block;
    font-size: 150%;
  }

  .hint {
    .hint-letters {
      letter-spacing: 2px;
    }
  }
}

#score-screen {
  background: #fff;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  bottom: 0;
  width: $draw-canvas-width;
  z-index: 10;

  canvas {
    width: 100%;
    height: 100%;
  }

  #score-text {
    position: fixed;
    top: 0;
    left: $sidebar-width;
    bottom: 0;
    width: $draw-canvas-width;
    z-index: 12;
    text-align: center;
    padding: 20px;
  }

  .no-winners, .have-winners {
    font-size: 160%;
    text-shadow: 2px 2px 0 rgba(63, 191, 187, 0.6);
  }

  .winners {
    display: block;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 5px 0;
      padding: 0;
      font-weight: bold;
    }
  }

  .next-round-shortly {
    margin-top: 20px;
  }
}

#draw-canvas {
  background: #fff;
  position: fixed;
  top: $help-height;
  left: $sidebar-width;
  bottom: 0;
  cursor: crosshair;
}

#toolbox {
  position: fixed;
  top: ($help-height + $draw-canvas-height);
  left: $sidebar-width;
  width: $draw-canvas-width;
  height: $toolbar-height;
  padding: 10px;

  .btn {
    margin: 0 5px 0 0;
  }

  .draw-controls {
    .btn {
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
  }

  #color-picker {
    float: right;

    > * {
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    * {
      box-shadow: none !important;
    }
  }

  .round-controls {
    margin-top: 10px;
  }
}

#chat {
  display: block;
  position: fixed;
  top: 0;
  left: ($sidebar-width + $draw-canvas-width);
  right: 0;
  bottom: $chat-input-height;
  margin: 0;
  padding: 20px;
  overflow: auto;
  border-left: 1px solid #ccc;
  background: #fff;
  list-style: none;

  li {
    display: block;
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0 10px;
    max-width: 500px;
    border-radius: 5px;
    overflow: hidden;

    .name {
      display: inline;
      font-size: 110%;
      margin: 0 5px 0 0;
    }

    .message {
      display: inline;

      > p {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }

    .emoji {
      margin: 0 2px;
    }

    :first-child {
      margin-top: 0;
    }

    &.msg-correct, &.msg-round-end {
      padding: 8px 10px;
      background: #efefef;
    }

    &.msg-correct {
      background: #A5E3C3;
    }

    &.msg-close-guess {
      padding: 8px 10px;
      background: #CDDFF3;
    }
  }
}

#chat-form {
  background: #fff;
  position: fixed;
  margin: 0;
  padding: 15px;
  left: ($sidebar-width + $draw-canvas-width);
  right: 0;
  bottom: 0;
  height: $chat-input-height;
  border-left: 1px solid #ccc;
}

#message-container {
  position: fixed;
  left: ($sidebar-width + $draw-canvas-width + 20px);
  bottom: 20px;
  right: 20px;
}

#chat-form #message {
  background: #fff;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.backdrop {
  background: #efefef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  #login {
    margin: 100px auto 0 auto;
    width: 400px;
    min-height: 200px;
    padding: 40px;
    border: 1px solid #ccc;
    background: #fff;
    text-align: center;

    h1 {
      margin: 0 0 20px 0;
    }
  }
}