body {
  background: #efefef;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 17px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  background-color: #3FBFBB;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.form-control {
  border-radius: 0;
  outline: none;

  :focus {
    box-shadow: 0;
  }
}
